header {
  min-height: 143px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .container_search {
    position: relative;
    input {
      border: none;
    }
    &:before {
      content: url("../img/icons/search.svg");
      position: absolute;
      left: -30px;
      top:-5px;
      
    }
  }
  .header_navigation ul {
    display: flex;
    list-style: none;
    li {
      padding-left: 20px;
    }
  }
}
