/* .blocOfDiscounts {
    background-color: blueviolet;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.photoBlockFirst {
    background-color: rgb(179, 29, 29);
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.photoBlockSecond {
    background-color: chartreuse;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.adUnit {
    background-color: darkcyan;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    img{
        background-color: gainsboro;
        
        
    }
}
 */